<% provide(:title, 'Top DJ\'s') %>
<h1>Top DJ's</h1>

<div class="user_block">
<%= will_paginate %>
	<% cache(cache_key_for_topdjs (@users_ordered_followers)) do %>
	<ul class="users">
 	 <%= render @users_ordered_followers %>
	</ul>
	<%= will_paginate %>
	<% end %>
</div>
<ul class="users">
  <%= render @users_ordered_followers %>
</ul>
<%= will_paginate @users_ordered_followers %>
</div>
