<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= image_tag @user.avatar.url(:medium) %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <body>
    <ul class="tab">
      <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Playlists'), getPlaylist(document, 'script', 'deezer-widget-loader')">Playlists</a></li>
      <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'About')">About</a></li>
      <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Followers')">Followers</a></li>
      <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Following')">Following</a></li>
      <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Microposts')">      
        <% if @user.microposts.any? %>Microposts (<%= @user.microposts.count %>)<% end %></a></li>
    </ul>
    <div id="Playlists" class="tabcontent">
      <h3>Playlists</h3>
      <p>Playlists will appear here.</p>
      <div class="deezer-widget-player" data-src="https://www.deezer.com/plugins/player?format=classic&autoplay=false&playlist=true&width=700&height=350&color=007FEB&layout=dark&size=medium&type=playlist&id=2403191086&app_id=1" data-scrolling="no" data-frameborder="0" data-allowTransparency="true" data-width="700" data-height="350"></div>
    </div>
    <div id="About" class="tabcontent">
      <h3>About</h3>
      <p>About will appear here.</p>
    </div>
    <div id="Followers" class="tabcontent">
      <h3>Followers</h3>
      <p>Followers will appear here.</p>
    </div>
    <div id="Following" class="tabcontent">
      <h3>Following</h3>
      <p>Followers will appear here.</p>
    </div>
    <div id="Microposts" class="tabcontent">
      <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div>
    </body>
  </div>
</div>