<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= image_tag @user.avatar.url(:medium) %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <body>
    <ul class="tab">
      <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Playlists'), getPlaylist(document, 'script', 'deezer-widget-loader')">Playlists</a></li>
      <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'About')">About</a></li>
      <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Followers')">Followers (<%= @user.followers.count %>)</a></li>
      <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Following')">Following (<%= @user.following.count %>)</a></li>
      <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Microposts')">Comments (<%= @comments.count %>)</a></li>
    </ul>
    <div id="Playlists" class="tabcontent">
      <%= render 'playlists' %>
    </div>
    <div id="About" class="tabcontent">
      <%= render 'about' %>
    </div>
    <div id="Followers" class="tabcontent">
      <%= render 'followers' %>
    </div>
    <div id="Following" class="tabcontent">
      <%= render 'following' %>
    </div>
    <div id="Microposts" class="tabcontent">
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
      <%= render 'microposts' %>
    </div>
    </body>
  </div>
</div>