<li id="songs-<%= song.id %>">
<button class='add-button' onClick='playSong(<%= song.deezer_id %>);'><span>Play</span></button>
<% if @current_user == @user %>
  <button class='add-button' onClick='removeSong(<%= song.id %>, <%= @user.id %>);'><span>Remove</span></button>
<% end %>
<span class="title"><%= song.title.tr('_', ' ') %> by</span>
<span class="artist"><%= song.artist.tr('_', ' ') %>,</span>
<span class="album"><%= song.album.tr('_', ' ') %></span>
</li>
